<div class="container">
    <div class="row">
      <div class="span8">
      {% if page.tagline %} <p class="lead">{{ page.tagline }}</p>{% endif %}
      </div>
    </div>

    <div class="row">
      <div class="span8">
        {{ content }}
      </div>
      <div class="span1">
      </div>
      <div class="span3">
        <div id="vindicateDef" class="well well-large">
            <h4>Vindicate</h1>
            <p>
                <em>verb</em>
            </p>
            <p>
                <ul>
                    <li>clear (someone) of blame or suspicion:</li>
                    <li>show or prove to be right, reasonable, or justified:</li>
                </ul>
            </p>
        </div>
      </div>
    </div>
</div>
